
.Nav{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 max-width: 100vw;
 height: 70px;
 background-color: var(--Portfolio-shadow-dark,#727272);
 padding-left: 2%;
 padding-right: 1%;
}
.Nav h1{
    margin-left: 0px;
}
.Nav h1 a{
    color:var(--titles,#FDBF50);
    text-decoration: none;
    font-size: 30px;
   
}
.Nav div{
    display: flex;
    gap: 5%;
    width: 330px;
    justify-content: center;
}
.Nav div a{
    color: var(--background-start,#eae8e6);
    font-size: 22px;
    margin-left: 0px;
    margin-top: 0px;
    text-decoration: none;
}
.active{
    color:var(--titles,#FDBF50);
}