@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');

.main {
  min-width: 100vw;
  position: relative;
  min-height: 100vh;
  background-image: url("/images/backgrounddetails.png");
  background-size: cover;
}
.headerBox {
  min-width: 100vw;
  background-image: url("/Imgs/banner1.png");
  background-size: cover;
  height: 380px;
  background-position: 0px -25px;
  background-repeat: no-repeat;
  padding: 10px;
}

.Subtitle {
  font-family: 'Salsa', cursive;
  color: var(--Portfolio-shadow-dark);
  font-size: 32px;
  margin-left: 23%;
  margin-top: 8%;
}

.p1 {
  font-family: 'Afacad', sans-serif;
  font-size: 20px;
  color: var(--Portfolio-shadow-dark);
  width: 60%;
  margin-left: 5%;
  margin-top: 2%;
}

.centerBox {
  /* background: linear-gradient(
    to bottom,
    transparent,
    #CFD7DD
  ) #E3E6E8; */
  width: 100%;
  min-height: 300px;
  z-index: 20;
  margin-top: -5%;
  position: relative;
 

}
.hithere{
  background-image: url("/Imgs/hithere.png");
  background-size: contain;
  width: 270px;
  height: 320px;
  position: absolute;
  top: -15%;
  left: 1%;
  z-index: 32;
  background-repeat: no-repeat;
}

.centerBox h6 {
  color: var(--Portfolio-shadow-dark);
  /* font-family: 'Rock Salt', cursive; */
  font-family: 'Salsa', cursive;
  text-align: left;
  margin-left: 5%;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 7%;
  text-transform: uppercase;
  font-weight: bolder;
}
.centerBox p {
  font-family: 'Afacad', sans-serif;
  color: var(--Portfolio-shadow-dark);
  width: 60%;
  text-align: justify;
  margin-top: 2%;
  margin-left: 25%;
  font-size: 20px;
}

.tecnologias{
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 20;
  margin:auto;
  padding: 2%;
  margin-top: -5%;
}
.tecnologias_tituloP{
  font-family: 'Rock Salt', cursive;
  color: var(--titles);
  text-align: center;
  text-shadow: 0px 2px 2px #2A2C41;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 3%;
}
.tecnologias_titulo{
  color: var(--Portfolio-shadow-dark);
  /* font-family: 'Rock Salt', cursive; */
  font-family: 'Salsa', cursive;
  text-align: left;
  font-size: 1.5rem;
  margin-left: 5%;
  text-transform: uppercase;
  font-weight: bolder;
}
.tecnologias_seccion{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.tecnologias_card{
  width: 211px;
  height: 192px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--cards-color, #F8F8F8);
  margin-top: 2%;
  position: relative;
  display: flex;
  justify-content: center;
}

.tecnologia_nombre{
  width: 148px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background: var(--titles);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 37px;
  cursor: pointer;
}
.tecnologia_icono{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 40%;
}
.tecnologia_icono img {
    width: 90px;
    height: 90px;
}

.Skills{
  margin-top: 5%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  align-self: center;
}
.Skills_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 35%;
}


.Skills_card img{
  width: 200px;
  height: 160px;
}
.Skills_card p{
  color: var(--Portfolio-shadow-dark);
  /* font-family: 'Rock Salt', cursive; */
  font-family: 'Salsa', cursive;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 2%;
  width: 300px;
  align-self: center;
}
.Proyect{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.Proyect_card{
  width: 311px;
  height: 292px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--cards-color, #F8F8F8);
  margin-top: 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Proyect_card_point{
  color: var(--Portfolio-Contraste, #FF724C);
  text-align: right;
  font-family: Rock Salt;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: -4px;
  margin-right: 4px;
}
.Proyect_card_content{
  width: 311px;
  height: 292px;
  display: flex;
  flex-direction: column;
}
.Proyect_card_content p{
  font-family: 'Rock Salt', cursive; 
  color: var(--titles);
  text-align: left;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: -43px;
  margin-left: 10%;
}
.Proyect_card_content img{
  width: 300px;
  height: 200px;
  object-fit: contain;
  align-self: center;
  border-radius: 10px;
  margin-top: 6%;
}
/* Mobile */
@media (max-width: 700px) {
}
